/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --grey-tint-2: #d9d9d9;
}
body {
  padding: 0px 50px;
}
header {
  display: flex;
  justify-content: space-between;
}

main {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 68px;
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
}

header img {
  width: 62px;
}
header div,
.nav-menu li {
  padding: 30px 0px;
}
/* adaptation en fonction de l'état de survol */
a {
  text-decoration: none;
  color: black;
}

.nav-menu li:hover {
  border-top: 2px solid var(--main-color);
  color: var(--main-color);
}
/* lorsqu'on survole le li on change la couleur de son enfant a en bleu */
.nav-menu li:hover a {
  color: var(--main-color);
}

/* main section 1*/
.recherche div {
  background-color: var(--main-bg-color);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 15px;
}

.recherche {
  display: flex;
}

.recherche > * {
  border: 1px solid var(--main-bg-color);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.recherche input[value="Rechercher"] {
  background: var(--main-color);
  color: white;
  border-radius: 0 15px 15px 0;
  padding: 15px;
}

.filtres ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.filtres ul li a {
  border: 2px solid var(--grey-tint-2);
  padding: 4px 19px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 700;
}

i:not(.recherche i) {
  color: var(--main-color);
  margin-right: 10px;
}

.filtres ul li:first-child {
  font-size: 18px;
  font-weight: 700;
}

.section-une {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.titre p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.titre h1 {
  margin: 8px 0;
  font-size: 22px;
  font-weight: 700;
}
.hebergements {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.hebergements-marseille,
.populaires {
  background: var(--main-bg-color);
  padding: 30px;
  border-radius: 30px;
}

.populaires {
  width: 35%;
}
.hebergements-marseille {
  width: 65%;
}

article img {
  width: 100%;
  height: 124px;
  border: 5px solid white;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.hebergements-marseille > a {
  font-size: 18px;
  font-weight: 700;
}

/* .hebergements-marseille article:nth-child(2) img {
  position: relative;
  top: -73px;
}

.hebergements-marseille article:nth-child(4) img {
  position: relative;
  top: -37px;
}

.hebergements-marseille article:nth-child(6) img {
  width: 116%;
} 

.hebergements-marseille article div:nth-child(2) {
    height: 124px;
    overflow: hidden;
  border: 5px solid white;
  border-radius: 20px 20px 0 0;
  
}*/

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

article {
  background: white;
  border-radius: 20px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}

article > div {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 4px;
}

article i {
  font-size: 13px;
  margin: 0 !important;
}

article i:last-child {
  color: var(--grey-tint-2);
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

article p {
  font-size: 14px;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

.populaires,
.hebergements-marseille,
.activite-marseille {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.populaires article {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.populaires article img {
  width: 123px !important;
  height: 146px !important;
  border-radius: 20px 0 0 20px;
}

.populaires article > div {
  margin: 0 !important;
  padding: 10px 5px 5px 15px;
  justify-content: space-between;
}

.populaires article div div:first-child {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.populaires > div {
  display: flex;
  justify-content: space-between;
}

.activite-marseille > .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
}

.activite-marseille article img{
    height: 380px;
    width: 100%;
}

footer{
    background: var(--main-bg-color);
    margin-top:30px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer div{
    padding: 20px;
}

footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h5{
    font-size: 18px;
    font-weight: 700;
}