/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --grey-tint-2: #d9d9d9;
}
body {
  padding: 0px 50px;
  /* max-width: 1440px;
  margin: auto; */
}

header {
  display: flex;
  justify-content: space-between;
}

main {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 68px;
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
}

header img {
  width: 62px;
}
header div,
.nav-menu li {
  padding: 30px 0px;
}
/* adaptation en fonction de l'état de survol */
a {
  text-decoration: none;
  color: black;
}

.nav-menu li:hover {
  border-top: 2px solid var(--main-color);
  color: var(--main-color);
}
/* lorsqu'on survole le li on change la couleur de son enfant a en bleu */
.nav-menu li:hover a {
  color: var(--main-color);
}

/* main section 1*/
.recherche div {
  background-color: var(--main-bg-color);
  width: 50px;
  height: 53px;
  padding: 15px;
  border-radius: 15px 0 0 15px;
}

.recherche {
  display: flex;
}

.recherche > * {
  border: 1px solid var(--main-bg-color);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.recherche bouton {
  background: var(--main-color);
  color: white;
  border-radius: 0 15px 15px 0;
  padding: 15px;
}

.recherche bouton i {
  display: none;
}
.filtres ul,
.filtres {
  display: flex;
  list-style: none;
  gap: 15px;
}

.filtres ul li {
  border: 2px solid var(--grey-tint-2);
  padding: 4px 19px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 700;
  height: 50px;
  text-wrap: nowrap;

  display: flex;
  align-items: center;
}

.filtres ul li:hover {
  background-color: var(--filter-bg-color);
}

i:not(.recherche i) {
  color: var(--main-color);
  margin-right: 10px;
}

.filtres label {
  font-size: 18px;
  font-weight: 700;
  align-self: center;
}

.section-une {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.titre p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.titre h1 {
  margin: 8px 0;
  font-size: 22px;
  font-weight: 700;
}
.hebergements {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.hebergements-marseille,
.populaires {
  background: var(--main-bg-color);
  padding: 30px;
  border-radius: 30px;
}

.populaires {
  width: 35%;
}

.hebergements-marseille {
  width: 65%;
}

article {
  height: 100%;
}

article img {
  width: 100%;
  height: 124px;
  border: 5px solid white;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.hebergements-marseille > a {
  font-size: 18px;
  font-weight: 700;
}

/* .hebergements-marseille article:nth-child(2) img {
  position: relative;
  top: -73px;
}

.hebergements-marseille article:nth-child(4) img {
  position: relative;
  top: -37px;
}

.hebergements-marseille article:nth-child(6) img {
  width: 116%;
} 

.hebergements-marseille article div:nth-child(2) {
    height: 124px;
    overflow: hidden;
  border: 5px solid white;
  border-radius: 20px 20px 0 0;
  
}*/

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

article {
  background: white;
  border-radius: 20px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}

article > div {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 4px;
}

article i {
  font-size: 13px;
  margin: 0 !important;
}

article i:last-child {
  color: var(--grey-tint-2);
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

article p {
  font-size: 14px;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

.populaires,
.hebergements-marseille,
.activite-marseille {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.populaires article {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.populaires article img {
  width: 123px;
  height: 146px;
  border-radius: 20px 0 0 20px;
}

.populaires article > div {
  margin: 0 !important;
  padding: 10px 5px 5px 15px;
  justify-content: space-between;
}

.populaires article div div:first-child {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.populaires > div {
  display: flex;
  justify-content: space-between;
}

.populaires > div:last-child {
  flex-direction: column;
  gap: 30px;
}

.activite-marseille > .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
}

.activite-marseille article img {
  height: 380px;
  width: 100%;
}

footer {
  background: var(--main-bg-color);
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer div {
  padding: 20px;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h5 {
  font-size: 18px;
  font-weight: 700;
}

/* fixer la taille du deshtop à 1440 */
@media (min-width: 1440px) {
  body {
    width: 1440px;
    margin: auto;
  }
}

/* tablette */
@media (max-width: 1024px) {
  .hebergements {
    flex-direction: column;
  }
  .hebergements-marseille {
    width: 100%;
  }
  .populaires {
    width: 100%;
  }

  .populaires > div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .populaires article img {
    width: 91px;
    height: 100%;
  }

  .filtres ul li {
    font-size: 16px;
    font-weight: 700;
  }

  article i {
    height: 12px;
    width: 12px;
  }

  .activite-marseille article img {
    height: 200px;
  }
}

/* portable */
@media (min-width: 320px) and (max-width: 767.9px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  body {
    padding: 0;
    width: 100%;
  }

  footer {
    padding: 30px;
  }

  .nav-menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    width: 100%;
  }

  .nav-menu {
    width: 100%;
  }

  .nav-menu ul li {
    text-align: center;
    padding: 0;
    padding-bottom: 15px;
  }

  .nav-menu ul li:hover {
    border: none;
    border-bottom: 2px solid var(--main-color);
  }

  header > div {
    padding: 30px;
  }

  .recherche bouton {
    width: 49px;
    width: 49px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
    padding: 15px;
  }
  .recherche bouton i {
    display: block;
  }
  .recherche bouton span {
    display: none;
  }

  .recherche input {
    border: none;
    width: 100%;
  }
  .recherche {
    border: 2px solid var(--main-bg-color);
    border-radius: 15px;
  }

  .filtres {
    flex-direction: column;
  }

  .filtres ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
  }
  .filtres ul li {
    font-size: 14px;
    font-weight: 700;
  }

  .filtres label {
    align-self: flex-start;
  }

  article i {
    height: 12px;
    width: 12px;
  }

  .populaires {
    order: -1;
    border-radius: 0 !important;
    padding: 30px 20px;
  }
  .populaires > div:last-child {
    display: flex;
    flex-direction: column;
  }

  .populaires article {
    height: fit-content;
  }
  .populaires article img {
    width: 111px;
    height: 146px;
  }

  .hebergements-marseille .items {
    display: flex;
    flex-direction: column;
  }
  .hebergements-marseille {
    background-color: white;
    padding: 20px;
  }

  .section-une {
    padding: 20px;
  }
  .activite-marseille {
    padding: 30px 20px;
  }
  .activite-marseille .items {
    display: flex;
    flex-direction: column;
  }
  .activite-marseille .items img {
    height: 141px;
    object-fit: cover;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  footer > div {
    padding: 0;
  }
}
